* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

.shadow {
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}
.shadow1 {
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}
.shadow2 {
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.shadow:hover {
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

.input-container {
  position: relative;
  width: 100%;
}
.custom-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  color: #999;
  pointer-events: none;
  transition: 0.2s;
}
.input-container input:focus + .custom-placeholder,
.input-container input:not(:placeholder-shown) + .custom-placeholder {
  opacity: 0;
}
.input-container input {
  width: 100%;
  padding: 8px 12px;
}

/* Table Export Icons Position Change */

.css-wsew38 {
  width: 100% !important;
  box-sizing: border-box;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  /* flex-direction: row-reverse !important; */
  gap: 0.5rem;
  padding: 0.5rem;
  /* color: #ff5b03; */
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  width: 22px !important;
  padding: 6px 3px !important;
  transform: translateX(1rem);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-width: 16px !important;
}

.backgroundC {
  /* background: linear-gradient(
    90deg,
    rgba(255, 80, 0, 1) 0%,
    rgba(121, 9, 9, 0.2415091036414566) 35%,
    rgba(242, 75, 4, 0.7317051820728291) 100%
  ); */
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

/* Remove date Icon */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

/*  Material Tables */
/* .css-1bneajg.Mui-active {
  display: none !important;
} */

/* root.Mui-active .MuiTableSortLabel-icon {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
  display: none;
} */

/* .Mui-TableHeadCell-Content-Actions,
.MuiBox-root,
.css-epvm6 {
  display: none;
} */
